#content img {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    max-width: 90%;
}

#content h2,
#content h1,
#content h3 {
    text-align: center;
}