#content img {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    max-width: 90%;
}

pre {
    overflow: hidden;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
}

.table-wrapper table {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 15px;
}

.table-wrapper table thead {
    background: #e8e8e8;
}

.table-wrapper table th,
.table-wrapper table td {
    padding: .5em 1em;
    border: 1px double #1e1e1e;
}

p code,
kbd {
    font-size: .95rem;
    background: #ebebeb;
    padding: .2em;
}

nav {
    overflow: auto;
    border-right: solid 1px #d5d5d5;
}

h6 {
    margin: -1em 0 .75em;
    text-align: center;
}


/* Modal Code */


/* Style the Image Used to Trigger the Modal */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

p img:not(:only-of-type) {
    width: 33%;
    float: left;
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%!important;
    max-width: 700px!important;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}